---
title: Arquivo
layout: default
---
{% include header_posts.html %}

<h2>Arquivo do blog</h2>

<p>Por categorias:
  <!--
  <a class="botao" href="/medicina.html"><svg class="svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" id="svg8" version="1.1" viewBox="0 0 90.0 60.0" height="16" width="16"> <g transform="translate(-47.647117,-133.90175)"> <path d="M 77.647117,163.90174 H 47.734004 v 0 23.10992 0 h 29.913113 v 0 29.91307 0 h 23.133443 v 0 -29.91307 0 h 29.91307 v 0 -23.13345 0 h -29.91307 l -10e-6,0.0235 v -29.91307 0 H 77.647117 v 0 z" style="stroke:#000000;stroke-width:0.17377383px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"/></g></svg>Medicina</a>
  -->
  <a class="botao "href="/medicina.html"><i class="fas fa-stethoscope"></i>Medicina</a>
  <a class="botao" href="/linux.html"><i class="fab fa-linux"></i>Linux</a>
  <a class="botao" href="/tecnologia.html"><i class="fas fa-robot"></i>Tecnologia</a>
</p>


<h3>Todas as postagens:</h3>
<ol reversed>
  {% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ol>
