---
title: Cinema
layout: wrapped
---

{% include header_posts.html %}

<div class="back">
  <h1>Cinema</h1>
  <p>Esta é a minha coluna de críticas e análises de filmes. Aqui escrevo sobre filmes que gosto (principalmente de ficção científica) analisando a profundidade de seu enredo e discutindo seus significados.</p>
  <h2>Todas as postagens:</h2>
  <div class="archive-list">
    <ol reversed>
      {% for post in site.categories.cinema %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="post-info-archive"><i id="calendar-index" class="far fa-calendar-alt"></i>{{ post.date | date: "%-d" }} {% assign m = post.date | date: "%-m" %}
          {% case m %}
            {% when '1' %}jan
            {% when '2' %}fev
            {% when '3' %}mar
            {% when '4' %}abr
            {% when '5' %}mai
            {% when '6' %}jun
            {% when '7' %}jul
            {% when '8' %}ago
            {% when '9' %}set
            {% when '10' %}out
            {% when '11' %}nov
            {% when '12' %}dez
          {% endcase %}{{ post.date | date: "%Y"}}</span></li>
      {% endfor %}
    </ol>
  </div>
</div>