---
title: Agregado sobre o Novo Coronavirus e a COVID-19
layout: post
date: 2020-03-20T16:00:00-03:00
seo:
    date_modified: 2020-03-29
---

<p><b>Última atualização:</b> 29 de março.<br>
<span>
Link para pasta com arquivos: <a href="https://drive.google.com/open?id=11deHp79sScc9CnJUOZRkAz5N3hmgL3Nn">COVID-19 <i class="picol_folder_sans"></i></a>
</span></p>


<p>Os coronavírus são um grupo de vírus de genoma de RNA simples de sentido positivo (serve diretamente para a síntese proteica), conhecidos desde meados dos anos 1960. Pertencem à subfamília taxonómica <em>Orthocoronavirinae</em> da família <em>Coronaviridae</em>, da ordem <em>Nidovirales</em>.</p>

<p>A maioria das pessoas se infecta com os coronavírus comuns ao longo da vida. Eles são uma causa comum de infecções respiratórias brandas a moderadas de curta duração. Entre os coronavírus encontra-se o vírus causador da forma de pneumonia atípica grave conhecida por SARS, e o vírus  <strong>SARS-CoV-2</strong>, causador da <strong>COVID-19</strong>, responsável pela pandemia de 2019 a 2020.</p>

<div class="wrapper">
   <button class="collapsible">Links úteis</button>
   <div class="content">
   <p>
      <ul>
         <li><a href="http://saude.gov.br/">Atualização de casos pelo MS</a>;</li>
         <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">Site do CDC sobre o Coronavirus</a>;</li>
         <li><strong>Boletins:</strong>
         <ul>
            <li><a href="https://www.cievspe.com/novo-coronavirus-2019-ncov">Informes da SES-PE</a>;</li>
            <li><a href="https://www.saude.gov.br/boletins-epidemiologicos">Boletins epidemiológicos do MS</a>;</li>
            <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/">WHO <em>situation reports</em></a>.</li>
         </ul>
         </li>
         <li><strong>Vídeos:</strong>
         <ul>
            <li><a href="https://www.youtube.com/watch?v=HXmt0j1gtDU">Live do Atila de 21/03/20</a>;</li>
            <li><a href="https://www.youtube.com/watch?v=zF2pXXJIAGM">Live do Atila de 20/03/20</a>;</li>
         </ul>
         </li>
         <li><strong>Mapas:</strong>
         <ul>
            <li><a href="https://google.org/crisisresponse/covid19-map">Livemap de casos do Google</a>;</li>
            <li><a href="https://www.bing.com/covid">Livemap de casos do Bing/Microsoft</a>;</li>
            <li><a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">Mapa do Johns Hopkins</a>;</li>
            <li><a href="https://imagem-govfed.maps.arcgis.com/apps/opsdashboard/index.html#/9c7ab592067f4a72929bfef5cd027a26">Painel - Registros de Coronavírus (desatualizado)</a>;</li>
            <li><a href="https://www.worldometers.info/coronavirus/country/brazil/">Worldometers Brasil</a>;</li>
            <li><a href="https://www.worldometers.info/coronavirus/country/italy/">Worldometers Itália</a>;</li>
            <li><a href="https://www.worldometers.info/coronavirus/">Worldometers mundo</a>;</li>
            <li><a href="https://hgis.uw.edu/virus/">Universidade de Washington</a>;</li>
            <li><a href="https://covidreports.netlify.com/">Comparação entre países</a>;</li>
         </ul>
         </li>
         <li>Dossiês:
         <ul>
            <li><a href="https://en.wikipedia.org/wiki/2019%E2%80%9320_coronavirus_pandemic">Artigo na Wikipédia inglesa</a>;</li>
            <li><a href="https://pt.wikipedia.org/wiki/Pandemia_de_COVID-19">Artigo na Wikipédia lusófona</a>.</li>
         </ul>
         </li>
         <li><a href="https://portalarquivos2.saude.gov.br/images/pdf/2020/fevereiro/13/plano-contingencia-coronavirus-COVID19.pdf">Plano nacional de contingência</a></li>
      </ul>
      
   </p>
   </div>

   <button type="button" class="collapsible">Últimos boletins</button>
   <div class="content">
      <ul>
      <li><a href="https://12ad4c92-89c7-4218-9e11-0ee136fa4b92.filesusr.com/ugd/3293a8_f82331550f9547bb8f4c41773bfa914a.pdf">Boletim <strong>SES-PE</strong> 24/03/20</a>;</li>
      <li><a href="https://www.who.int/docs/default-source/coronaviruse/situation-reports/20200321-sitrep-61-covid-19.pdf?sfvrsn=f201f85c_2"><strong>WHO</strong> SR 61 de 21/03/20</a>;</li>
      <li><a href="https://12ad4c92-89c7-4218-9e11-0ee136fa4b92.filesusr.com/ugd/3293a8_8e4bb04140aa4f5d94fd1cdc219905ad.pdf">Boletim <strong>SES-PE</strong> 20/03/20</a>;</li>
      <li><a href="https://www.who.int/docs/default-source/coronaviruse/situation-reports/20200320-sitrep-60-covid-19.pdf?sfvrsn=d2bb4f1f_2"><strong>WHO</strong> SR 60 de 20/03/20</a>;</li>
      <li><a href="https://12ad4c92-89c7-4218-9e11-0ee136fa4b92.filesusr.com/ugd/3293a8_3777e9db9e1e49099b5ec06dfe18d20d.pdf">Boletim <strong>MS</strong> 14/03/20</a>.</li>
      </ul>
   </div>

   <button type="button" class="collapsible">Noticias</button>
   <div class="content">
      <ul>
         <li>25 mar 2020: <a href="https://jc.ne10.uol.com.br/colunas/saude-e-bem-estar/2020/03/5603612-pernambuco-registra-primeira-morte-pelo-novo-coronavirus.html">Pernambuco registra primeira morte pelo novo coronavírus</a>;</li>
         <li>24 mar 2020: <a href="https://globoesporte.globo.com/rj/olimpiadas/noticia/olimpiadas-e-paralimpiadas-de-toquio-2020-sao-adiadas.ghtml">Olimpíadas e Paralimpíadas de Tóquio adiadas</a>;</li>
         <li>23 mar 2020: <a href="https://www.aljazeera.com/news/2020/03/italy-bans-internal-travel-stop-virus-spread-live-updates-200322235532945.html">Itália chega em mais de 6.000 mortes</a>;</li>
         <li>21 mar 2020:
         <ul>
            <li><a href="https://www.gazetadopovo.com.br/republica/breves/brasil-compra-5-milhoes-de-testes-para-covid-19/?utm_source=twitter&amp;utm_medium=midia-social&amp;utm_campaign=gazeta-do-povo">Brasil compra 5 milhões de testes para Covid-19</a>;</li>
            <li><a href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/03/21/italia-bate-de-novo-recorde-de-mortos-por-coronavirus-793-em-24-horas.ghtml">800 mortes em 24h na Itália</a>;</li>
         </ul>
         </li>
         <li>20 mar 2020:
         <ul>
            <li><a href="https://www.foxnews.com/world/italys-coronavirus-death-toll-rises">Mais de 600 mortes em menos de 24h na Itália</a>;</li>
            <li><a href="https://www.nature.com/articles/d41586-020-00154-w">Coronavirus latest: Italy death toll overtakes China’s</a>;</li>
         </ul>
         </li>
         <li>19 mar 2020: <a href="https://www.bbc.com/portuguese/internacional-51944800">Coronavírus: o que diz modelo matemático que levou Reino Unido a mudar radicalmente combate à covid-19</a>.</li>
         <li>18 mar 2020: <a href="https://www.nytimes.com/2020/03/18/health/coronavirus-young-people.html">Younger Adults Make Up Big Portion of Coronavirus Hospitalizations in U.S.</a></li>
      </ul>
   </div>

   <button type="button" class="collapsible">Linha do tempo</button>
   <div class="content">
      <ul>
         <li>14 mar 2020: Espanha anuncia o <i>lock down</i></li>
         <li><strong>09 mar 2020</strong>: Itália inicia o <em>lock down</em>;</li>
         <li>14 fev 2020: 1ª morte na França;</li>
         <li>11 fev 2020: a doença causada pelo Novo Coronarvirus recebe o nome de COVID-19;</li>
         <li>07 fev 2020: Morre o médico Chines, Dr. Li Wenliang, que alertou para os riscos da nova epidemia;</li>
         <li>02 fev 2020: 1ª morte fora da China, nas Filipinas;</li>
         <li>30 jan 2020: OMS declara a COVID-19 uma epidemia de relevância internacional;</li>
         <li>23 jan 2020: Wuhan faz <em>lock down</em> quando já tinha 17 mortes e 570 casos;</li>
         <li>21 jan 2020: OMS publica <a href="https://www.who.int/docs/default-source/coronaviruse/situation-reports/20200121-sitrep-1-2019-ncov.pdf?sfvrsn=20a99c10_4">1º <em>situation report</em></a>;</li>
         <li>21 jan 2020: 1º caso nos EUA em Washington;</li>
         <li>20 jan 2020: 1º caso na Coréia do Sul;</li>
         <li>15 jan 2020: 1º caso importado confirmado no Japão;</li>
         <li>13 jan 2020: o Ministério da Saúde Pública da Tailândia relatou o primeiro caso importado de novo coronavírus;</li>
         <li>12 jan 2020: a China compartilhou a sequência genética do novo coronavírus para os países usarem no desenvolvimento de kits de diagnóstico específicos.</li>
         <li><strong>07 jan 2020:</strong> China identifica e isola um novo tipo de Coronavírus;</li>
         <li><strong>01 jan</strong> 2020: <a href="https://www.nytimes.com/2020/01/10/world/asia/china-virus-wuhan-death.html">primeira morte registrada na China</a> em Wuhan;</li>
         <li>31 dez 2020: Autoridades chinesas já trataram dezenas de casos de <em>pneumonia de causa desconhecida</em>;</li>
         <li><strong>08 dez 2020:</strong> primeiros casos na China (pneumonia em hospital de Wuhan);</li>
      </ul>
   </div>


   <button type="button" class="collapsible">No Brasil</button>
   <div class="content">
      <ul>
         <li><strong>24 mar</strong> 2020: São Paulo começa a quarentena;</li>
         <li>21 mar 2020: São Paulo anuncia quarentena a partir do dia 24;</li>
         <li><strong>26 fev</strong> 2020: primeiro caso confirmado no país, em São Paulo;</li>
         <li>19 fev 2020: chegada ao Brasil dos 58 envolvidos na <em>Operação Regresso</em>;</li>
         <li>17 fev 2020: sancionada Lei de Quarentena;</li>
         <li>30 jan 2020: OMS declara Emergência Internacional;</li>
         <li><strong>27 jan</strong> 2020: 1º caso suspeito no país.</li>
      </ul>
   </div>


   <button type="button" class="collapsible">Papers</button>
   <div class="content">
      <ol>
      <li>Sahraei Z, Shabani M, Shokouhi S, Saffaei A. <strong>Aminoquinolines Against Coronavirus Disease 2019 (COVID-19): Chloroquine or Hydroxychloroquine</strong> [published online ahead of print, 2020 Mar 16]. Int J Antimicrob Agents. 2020;105945. doi:<a href="https://www.mediterranee-infection.com/hydroxychloroquine-and-azithromycin-as-a-treatment-of-covid-19/">10.1016/j.ijantimicag.2020.105945</a>.
         <ul>
            <li><strong><a href="http://medicinabaseadaemevidencias.blogspot.com/2020/03/hidroxicloroquina-o-dia-em-que-ciencia.html">Texto do blog <em>Medicina Baseada em Evidências</em></a> criticando os viéses desse artigo</strong>.</li>
         </ul>
      </li>
      <li>Guo YR, Cao QD, Hong ZS, et al. <strong>The origin, transmission and clinical therapies on coronavirus disease 2019 (COVID-19) outbreak - an update on the status</strong>. Mil Med Res. 2020;7(1):11. Published 2020 Mar 13. doi:10.1186/s40779-020-00240-0.</li>
      <li>Cheng, V. C., Lau, S. K., Woo, P. C., &amp; Yuen, K. Y. (2007). <strong>Severe acute respiratory syndrome coronavirus as an agent of emerging and reemerging infection</strong>. Clinical microbiology reviews, 20(4), 660-694. https://doi.org10.1128/CMR.00023-07.</li>
      <li>Menachery, V. D., Yount Jr, B. L., Debbink, K., Agnihothram, S., Gralinski, L. E., Plante, J. A., … &amp; Randell, S. H. (2015). <strong>A SARS-like cluster of circulating bat coronaviruses shows potential for human emergence</strong>. Nature medicine, 21(12), 1508. https://doi.org/10.1038/nm.3985.</li>
      <li>Liu Y, Gayle AA, Wilder-Smith A, Rocklöv J. The reproductive number of COVID-19 is higher compared to SARS coronavirus. J Travel Med. 2020;(February):1–6.</li>
      <li>Muniz-Rodriguez K, Chowell G, Cheung C-H, Jia D, Lai P-Y, Lee Y, et al. <strong>Epidemic doubling time of the COVID-19 epidemic by Chinese province</strong>. medRxiv Prepr. 2020;</li>
      <li>Wang C, Liu L, Hao X, Guo H, Wang Q, Huang J, et al. <strong>Evolving Epidemiology and Impact of Non-pharmaceutical Interventions on the Outbreak of Coronavirus Disease 2019 in Wuhan, China</strong>. medRxiv. 2020;</li>
      </ol>
   </div>
</div>

<h2 id="casos-no-brasil">Gráficos</h2>

<p>Número de casos e óbitos no Brasil:</p>
<canvas id="ChartBrasil"></canvas>
<p>Número de casos por estado federativo:</p>
<canvas id="myChart"></canvas>
<p>Número de óbitos por estado federativo:</p>
<canvas id="ChartObitoEstados"></canvas>
<p>Comparação do total da curva casos após o primeiro caso confirmado no Brasil com outros países:</p>
<canvas id="ChartCasosPaises"></canvas>
<p>Comparação da curva de óbitos após o primeiro caso confirmado do Brasil com outros países:</p>
<canvas id="ChartObitosPaises"></canvas>
<!-- <canvas id="ChartPomber"></canvas> -->

<!-- <p>Barras de casos por estado</p>
<canvas id="ChartBarrasEstados"></canvas> -->




<!-- 

<p><img src="/assets/2020/curva-mundial-covid.png" alt="Curva mundial" /></p>

<p><strong>Evolução e curva da mortalidade China x Itália. Retirado da Live do Atila de 20/03/20:</strong></p>

<p><img src="/assets/2020/evolucao-mortes-corona-china-italia.jpeg" alt="Gráfico de evolução da mortalidade" /></p> -->


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<!-- Mapa de casos por estado federativo do Brasil -->
<script>
var jsonfile = {
  "casosbrasil": {% include casos-brasil.json %}
  }
var labels = jsonfile.casosbrasil.map(function(e) {
   return e.Data;
});
var pernambuco = jsonfile.casosbrasil.map(function(e) {
   return e.PE;
});;
var saopaulo = jsonfile.casosbrasil.map(function(e) {
   return e.SP;
});;
var riodejaneiro = jsonfile.casosbrasil.map(function(e) {
   return e.RJ;
});;
var ceara = jsonfile.casosbrasil.map(function(e) {
   return e.CE;
});;
var bahia = jsonfile.casosbrasil.map(function(e) {
   return e.BA;
});;
var amazonas = jsonfile.casosbrasil.map(function(e) {
   return e.AM;
});;
var riograndedosul = jsonfile.casosbrasil.map(function(e) {
   return e.RS;
});;
var ctx = document.getElementById('myChart').getContext('2d');
var config = {
   type: 'line',
   data: {
      labels: labels,
      datasets: [{
         label: 'Pernambuco',
         data: pernambuco,
         backgroundColor: 'blue',
         borderColor: 'blue',
         fill: false,
        },
        {
        label: 'São Paulo',
            data: saopaulo,
            backgroundColor: 'red',
            borderColor: 'red',
            fill: false,
        },
        {
        label: 'Rio de Janeiro',
            data: riodejaneiro,
            backgroundColor: 'orange',
            borderColor: 'orange',
            fill: false,
        },
        {
        label: 'Ceará',
            data: ceara,
            backgroundColor: 'green',
            borderColor: 'green',
            fill: false,
        },
        {
        label: 'Bahia',
            data: bahia,
            backgroundColor: 'purple',
            borderColor: 'purple',
            fill: false,
        },    
        {
        label: 'Amazonas',
            data: amazonas,
            backgroundColor: '#a2e149',
            borderColor: '#a2e149',
            fill: false,
        }, 
        {
        label: 'Rio Grande do Sul',
            data: riograndedosul,
            backgroundColor: '#49bfe1',
            borderColor: '#49bfe1',
            fill: false,
        }                                
      ]
   },
   options: {
        tooltips: {
            mode: 'point'
        }
    }, 
};
var chart = new Chart(ctx, config);
</script>

<!-- Mapa de casos e óbitos totais no Brasil -->
<script>
var jsonfile2 = {
  "obitosbrasil": {% include obitos-brasil.json %}
  }
var labels = jsonfile.casosbrasil.map(function(e) {
   return e.Data;
});
var brasil = jsonfile.casosbrasil.map(function(e) {
   return e.Brasil;
});;
var brasilobitos = jsonfile2.obitosbrasil.map(function(e) {
   return e.Brasil;
});;
var brasilnovos = jsonfile.casosbrasil.map(function(e) {
   return e.Novos;
});;



var ctx = document.getElementById('ChartBrasil').getContext('2d');
var config = {
   type: 'line',
   data: {
      labels: labels,
      datasets: [{
         label: 'Casos confirmados no Brasil',
         data: brasil,
         backgroundColor: 'blue',
         borderColor: 'blue',
         fill: false,
        },
        {
         label: 'Óbitos confirmados no Brasil',
         data: brasilobitos,
         backgroundColor: 'red',
         borderColor: 'red',
         fill: false,
        },
        {
         label: 'Novos casos por dia',
         data: brasilnovos,
         backgroundColor: 'orange',
         borderColor: 'orange',
        },
      ]
   }
};
var chart = new Chart(ctx, config);
</script>



<!-- Mapa total de casos por estado BARRA -->
<!-- <script>
   var ctx = document.getElementById('ChartBarrasEstados').getContext('2d');
   var config = {
      type: 'bar',
      data: {
      labels: labels,
      datasets: [{
            barPercentage: 0.5,
            barThickness: 6,
            backgroundColor: 'orange',
            borderColor: 'orange',
            data: lastElement,
         }]
      }
   };
   var chart = new Chart(ctx, config);
   </script> -->



<!-- Mapa óbitos por estado federativo do Brasil -->
<script>
var labels = jsonfile.casosbrasil.map(function(e) {
   return e.Data;
});
var saopaulo = jsonfile2.obitosbrasil.map(function(e) {
   return e.SP;
});;
var pernambuco = jsonfile2.obitosbrasil.map(function(e) {
   return e.PE;
});;
var riodejaneiro = jsonfile2.obitosbrasil.map(function(e) {
   return e.RJ;
});;
var ceara = jsonfile2.obitosbrasil.map(function(e) {
   return e.CE;
});;



var ctx = document.getElementById('ChartObitoEstados').getContext('2d');
var config = {
   type: 'line',
   data: {
      labels: labels,
      datasets: [{
         label: 'Pernambuco',
         data: pernambuco,
         backgroundColor: 'blue',
         borderColor: 'blue',
         fill: false,
        },
        {
         label: 'São Paulo',
         data: saopaulo,
         backgroundColor: 'red',
         borderColor: 'red',
         fill: false,
        },
        {
         label: 'Rio de Janeiro',
         data: riodejaneiro,
         backgroundColor: 'orange',
         borderColor: 'orange',
         fill: false,
        },        
        {
         label: 'Ceará',
         data: ceara,
         backgroundColor: 'green',
         borderColor: 'green',
         fill: false,
        },        
      ]
   }
};
var chart = new Chart(ctx, config);
</script>

<!-- Mapa de casos internacionais -->
<script>
var jsonfile3 = {
  "casospaises": {% include apos1casopaises.json %}
  }
var dias = jsonfile3.casospaises.map(function(e) {
   return e.Dias;
});
var brazil = jsonfile3.casospaises.map(function(e) {
   if (e.Brazil !== ""){
      return e.Brazil
   }
});;

var italy = jsonfile3.casospaises.map(function(e) {
   if (e.Italy !== ""){
      return e.Italy
   }
});;
var spain = jsonfile3.casospaises.map(function(e) {
   if (e.Spain !== ""){
      return e.Spain
   }
});;
var iran = jsonfile3.casospaises.map(function(e) {
   if (e.Iran !== ""){
      return e.Iran
   }
});;
var hubei = jsonfile3.casospaises.map(function(e) {
   if (e.Hubei !== ""){
      return e.Hubei
   }
});;


var ctx = document.getElementById('ChartCasosPaises').getContext('2d');
var config = {
   type: 'line',
   data: {
      labels: dias,
      datasets: [{
         label: 'Brasil',
         data: brazil,
         backgroundColor: 'blue',
         borderColor: 'blue',
         fill: false,
        },
        {
         label: 'Itália',
         data: italy,
         backgroundColor: 'red',
         borderColor: 'red',
         fill: false,
        },
        {
         label: 'Espanha',
         data: spain,
         backgroundColor: 'orange',
         borderColor: 'orange',
         fill: false,
        },        
        {
         label: 'Hubei (China)',
         data: hubei,
         backgroundColor: 'green',
         borderColor: 'green',
         fill: false,
        },    
        {
         label: 'Iran',
         data: iran,
         backgroundColor: 'pink',
         borderColor: 'pink',
         fill: false,
        },               
      ]
   },
   options: {
        tooltips: {
            mode: 'point'
        }
    }, 
};
var chart = new Chart(ctx, config);
</script>


<!-- Mapa de casos internacionais -->
<script>
var jsonfile4 = {
  "casospaisesobitos": {% include apos1casopaisesobitos.json %}
  }
var dias = jsonfile4.casospaisesobitos.map(function(e) {
   return e.Dias;
});
var brazil = jsonfile4.casospaisesobitos.map(function(e) {
   if (e.Brazil !== ""){
      return e.Brazil
   }
});;

var italy = jsonfile4.casospaisesobitos.map(function(e) {
   if (e.Italy !== ""){
      return e.Italy
   }
});;
var spain = jsonfile4.casospaisesobitos.map(function(e) {
   if (e.Spain !== ""){
      return e.Spain
   }
});;
var iran = jsonfile4.casospaisesobitos.map(function(e) {
   if (e.Iran !== ""){
      return e.Iran
   }
});;
var hubei = jsonfile4.casospaisesobitos.map(function(e) {
   if (e.Hubei !== ""){
      return e.Hubei
   }
});;


var ctx = document.getElementById('ChartObitosPaises').getContext('2d');
var config = {
   type: 'line',
   data: {
      labels: dias,
      datasets: [{
         label: 'Brasil',
         data: brazil,
         backgroundColor: 'blue',
         borderColor: 'blue',
         fill: false,
        },
        {
         label: 'Itália',
         data: italy,
         backgroundColor: 'red',
         borderColor: 'red',
         fill: false,
        },
        {
         label: 'Espanha',
         data: spain,
         backgroundColor: 'orange',
         borderColor: 'orange',
         fill: false,
        },        
        {
         label: 'Hubei (China)',
         data: hubei,
         backgroundColor: 'green',
         borderColor: 'green',
         fill: false,
        },    
        {
         label: 'Iran',
         data: iran,
         backgroundColor: 'pink',
         borderColor: 'pink',
         fill: false,
        },               
      ]
   }
};
var chart = new Chart(ctx, config);
</script>




<!-- Mapa de casos internacionais Pomber -->
<!-- <script>
// var jsonpomber

// jsonpomber = fetch("https://pomber.github.io/covid19/timeseries.json")
//   .then(response => return response.json()) 



   var labels = jsonfile4.casospaisesobitos.map(function(e) {
      return e.Dias;
   });
   var brazil = jsonfile4.casospaisesobitos.map(function(e) {
      if (e.Brazil !== ""){
         return e.Brazil
      }
   });;
   
   fetch("https://pomber.github.io/covid19/timeseries.json")
  .then(response => response.json())
  .then(data => {
    data["Argentina"].forEach(({ date, confirmed, recovered, deaths }) =>
      console.log(`${date} active cases: ${confirmed - recovered - deaths}`)
    );
  });

   var italy = jsonfile4.casospaisesobitos.map(function(e) {
      if (e.Italy !== ""){
         return e.Italy
      }
   });;
   var spain = jsonfile4.casospaisesobitos.map(function(e) {
      if (e.Spain !== ""){
         return e.Spain
      }
   });;
   var iran = jsonfile4.casospaisesobitos.map(function(e) {
      if (e.Iran !== ""){
         return e.Iran
      }
   });;
   var hubei = jsonfile4.casospaisesobitos.map(function(e) {
      if (e.Hubei !== ""){
         return e.Hubei
      }
   });;
   
   
   var ctx = document.getElementById('ChartPomber').getContext('2d');
   var config = {
      type: 'line',
      data: {
         labels: labels,
         datasets: [{
            label: 'Brasil',
            data: brazil,
            backgroundColor: 'blue',
            borderColor: 'blue',
            fill: false,
           },
           {
            label: 'Itália',
            data: italy,
            backgroundColor: 'red',
            borderColor: 'red',
            fill: false,
           },
           {
            label: 'Espanha',
            data: spain,
            backgroundColor: 'orange',
            borderColor: 'orange',
            fill: false,
           },        
           {
            label: 'Hubei (China)',
            data: hubei,
            backgroundColor: 'green',
            borderColor: 'green',
            fill: false,
           },    
           {
            label: 'Iran',
            data: iran,
            backgroundColor: 'pink',
            borderColor: 'pink',
            fill: false,
           },               
         ]
      }
   };
   var chart = new Chart(ctx, config);
   </script> -->
   
   


<!-- Collapsible -->
<script>
   var coll = document.getElementsByClassName("collapsible");
   var i;
   
   for (i = 0; i < coll.length; i++) {
     coll[i].addEventListener("click", function() {
       this.classList.toggle("active");
       var content = this.nextElementSibling;
       if (content.style.display === "block") {
         content.style.display = "none";
       } else {
         content.style.display = "block";
       }
     });
   }
</script>