---
title: Filmes
layout: wrapped
---

{% include header.html %}

<h1>🎥 Filmes</h1>

<p>Me segue no <a href="https://letterboxd.com/filipemosca/"><mark><b>Letterboxd</b></mark></a> que lá tem todo o meu diário e avaliações dos filmes assistidos. Meu gênero favorito é <b>Sci-fi ❤️</b> mas sempre procuro assistir de tudo (até musicais, que odeio 🤢).</p>

<h2>Resenhas:</h2>

<p>Abaixo estão as resenhas de filmes que escrevi, em ordem alfabética dos títulos originais em inglês...</p>

<!-- PAGINAS -->
<div class="post-list">
  <ul>
    {% assign sortedPosts = site.posts | sort: 'obra' %}
    {% for post in sortedPosts %}
      {% if post.categories contains "Filmes" %}
        <li>
          <div class="post-block">
              <h3>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.obra }}</a>
              </h3>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
