---
title: HQs
layout: wrapped
---

{% include header.html %}

<h1>🖼 HQs</h1>

<!-- PAGINAS -->
<div class="post-list">
  <ul>
    {% for post in site.posts %}
      {% if post.categories contains "HQs" and post.tags contains "Pagina" %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<!-- Leituras anotadas -->
<h2>Leituras anotadas ✍️</h2>
<p>Aqui está uma coletânea de todos os HQs que li e escrevi comentários, algo que chamam por aí de "leitura anotada" ou <i>annotated reading</i>. Em ordem alfabética...</p>

<div class="post-list">
  <ul>
    {% assign sortedPosts = site.posts | sort: 'obra' %}
    {% for post in sortedPosts %}
      {% if post.categories contains "HQs" and post.tags contains "Anotada"%}
        <li><input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.obra }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
