---
title: HQs
layout: wrapped
---

{% include header.html %}

<h1>🖼 HQs</h1>

<!-- PAGINAS -->
<div class="post-list">
  <ul>
    {% assign sortedPages = site.pages | sort: 'obra' %}
    {% for page in sortedPages %}
      {% if page.tag contains "HQs" %}
      {% unless page.obra %}
        <li><input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
        </li>
      {% endunless %}
      {% endif %}
    {% endfor %}
  </ul>
</div>

<!-- Leituras anotadas -->
<h2>Leituras anotadas ✍️</h2>
<p>Aqui está uma coletânea de todos os HQs que li e escrevi comentários, algo que chamam por aí de "leitura anotada" ou <i>annotated reading</i>. Em ordem alfabética...</p>

<!-- PAGINAS -->
<div class="post-list">
  <ul>
    {% assign sortedPages = site.pages | sort: 'obra' %}
    {% for page in sortedPages %}
      {% if page.tag contains "HQs" %}
      {% if page.obra %}
        <li><input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.obra }}</a>
        </li>
      {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
