---
title: Mosquildo
layout: default
---
{% include header.html %}

<div class="abertura">
  <h2>Seja bem vindo!</h2>
  <p>Eu sou Filipe Mosca e esse é o meu cantinho na internet. Aqui escrevo sobre assuntos como medicina baseada em evidências, tecnologia, linux, cultura nerd, filmes, <em>etc</em>. <br>
    <form class="email" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Mosquildo', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">Informe seu email para receber as últimas postagens: <input type="text" style="width:140px" name="email"/><input type="hidden" value="Mosquildo" name="uri"/><input type="hidden" name="loc" value="pt_BR"/><input id="submit" type="submit" value="Subscribe" /></form></p>
  <a class="github-button" href="https://github.com/filipemosca" data-size="large" aria-label="Follow @filipemosca on GitHub">Follow</a>
  <a href="https://twitter.com/moscafilipe" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-size="large">Follow</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fmosquildo.com.br%2Ffeed.xml'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png' alt='follow us in feedly' width='71' height='28'></a>
</div>



<p>Categorias:
  <a class="botao "href="/medicina.html"><i class="fas fa-stethoscope"></i>Medicina</a>
  <a class="botao" href="/linux.html"><i class="fab fa-linux"></i>Linux</a>
  <a class="botao" href="/tecnologia.html"><i class="fas fa-robot"></i>Tecnologia</a>
</p>

<h2>Últimas postagens <a href="/arquivo.html" class="botao">Ver todas</a></h2>

<div class="post-list">
  <ul>
    {% for post in site.posts %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

        {% for category in post.categories %}
        {% capture category_name %}{{ category }}{% endcapture %}
        <a class="pseudobotao {{ category_name }}" href="/{{ category_name }}" >{{ category_name | capitalize }}</a>
        {% endfor %}

        {% for tag in post.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <span class="pseudobotao2">{{ tag_name }}</span>
        {% endfor %}

        <span id="post-info"><i id="calendar-index" class="picol_calendar"></i><time>{{ post.date | date: "%-d" }} de {% assign m = post.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}janeiro
          {% when '2' %}fevereiro
          {% when '3' %}março
          {% when '4' %}abril
          {% when '5' %}maio
          {% when '6' %}junho
          {% when '7' %}julho
          {% when '8' %}agosto
          {% when '9' %}setembro
          {% when '10' %}outubro
          {% when '11' %}novembro
          {% when '12' %}dezembro
        {% endcase %}{{ post.date | date: "%Y"}}</time>&nbsp&nbsp<i class="picol_clock"></i>{% include read-time.html content=post.content %}</span>

        <!--
        <p class="excerpt">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
        -->
      </li>
    {% endfor %}
  </ul>
</div>
