---
title: ~fm
layout: default
---
<div class="abertura">
  <h2>Seja bem vindo!</h2>
  <p>Eu sou Filipe Mosca e esse é meu blog. Aqui escrevo sobre os mais variados assuntos, como medicina, tecnologia, linux, geeks, livros, <em>etc</em>.</p>
  <a class="github-button" href="https://github.com/filipemosca" data-size="large" aria-label="Follow @filipemosca on GitHub">Follow</a>
  <a href="https://twitter.com/moscafilipe" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-size="large">Follow</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<p>Tags: {% for category in site.categories %}<a href="/{{ category[0] }}">{{ category[0] }}</a>{% endfor %}</p>


<div class="post-list">
  <ul>
    {% for post in site.posts %}
      <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p id="post-info"><i id="calendar-index" class="far fa-calendar-alt"></i><time>{{ post.date | date: "%-d" }} de {% assign m = post.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}janeiro
          {% when '2' %}fevereiro
          {% when '3' %}março
          {% when '4' %}abril
          {% when '5' %}maio
          {% when '6' %}junho
          {% when '7' %}julho
          {% when '8' %}agosto
          {% when '9' %}setembro
          {% when '10' %}outubro
          {% when '11' %}novembro
          {% when '12' %}dezembro
        {% endcase %}{{ post.date | date: "%Y"}}</time></p>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
</div>
