---
title: Linux
layout: wrapped
---

{% include header_posts.html %}

<h2>Linux</h2>
<div class="archive-list">
<ol reversed>
  {% for post in site.categories.linux %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
    
      <span class="post-info-archive">{{ post.date | date: "%-d" }} {% assign m = post.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}jan
          {% when '2' %}fev
          {% when '3' %}mar
          {% when '4' %}abr
          {% when '5' %}mai
          {% when '6' %}jun
          {% when '7' %}jul
          {% when '8' %}ago
          {% when '9' %}set
          {% when '10' %}out
          {% when '11' %}nov
          {% when '12' %}dez
        {% endcase %}{{ post.date | date: "%Y"}}</span></li>
  {% endfor %}
</ol>
</div>
