---
title: Livros
layout: wrapped
---

{% include header.html %}

<h1>📚 Livros</h1>
<h2>Resenhas:</h2>

<p>Abaixo estão algumas resenhas de livros que li, em ordem alfabética...</p>

<!-- PAGINAS -->
<div class="post-list">
  <ul>
    {% assign sortedPosts = site.posts | sort: 'obra' %}
    {% for post in sortedPosts %}
      {% if post.categories contains "Livros" %}
        <li>
          <div class="post-block">
              <h3>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.obra }}</a>
              </h3>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
