<div class="footer">
  <div class="wrapper">
      <div class="coisas">
       
        
    <p>          
        <a href="https://twitter.com/moscafilipe" target="_blank"><svg class="icon icon-abertura"><use xlink:href="/assets/svgs/sprite.svg#icon-twitter"></use></svg></a>
  
        <a href="https://github.com/filipemosca" target="_blank"><svg class="icon icon-abertura"><use xlink:href="/assets/svgs/sprite.svg#icon-github"></use></svg></a>

		<a href="https://mosquildo.com.br/feed.xml" target="_blank" aria-hidden="true"><svg class="icon icon-abertura"><use xlink:href="/assets/svgs/sprite.svg#icon-rss"></use></svg> </a>
	</p>
     

        <p class="picol_mail"></i><a href="mailto:filipemosca@disroot.org">filipemosca@disroot.org</a> <br>
          <i class=" picol_security_closed"></i>PGP: CDD0 E240 698E 3A10 BBD0 B704 ACB6 9010 C5BE 0DE7 <br>
          <i class="picol_attachment"></i><a href="/assets/key.asc">key.asc</a> </p>
        </div>     

    <div class="license">
      <p >Esta obra está licenciada com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a>. <br> Mosquildo © 2019 Filipe Mosca</p>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/assets/images/cc-by-sa.png"/></a>
    </div>
  </div>
</div>


<script>

// Start Theme Switcher 
const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content');	

if (theme === "dark") {
	document.getElementById("theme-toggle").innerHTML = "<svg class='icon off-icon nav-icons'><use xlink:href='/assets/svgs/sprite.svg#icon-light_off'></use></svg>";
} else if (theme === "light") {
	document.getElementById("theme-toggle").innerHTML = "<svg class='icon on-icon nav-icons'><use xlink:href='/assets/svgs/sprite.svg#icon-light'></use></svg>";
} else if  (userPrefers === "dark") {
	document.documentElement.setAttribute('data-theme', 'dark');
	window.localStorage.setItem('theme', 'dark');
	document.getElementById("theme-toggle").innerHTML = "<svg class='icon off-icon nav-icons'><use xlink:href='/assets/svgs/sprite.svg#icon-light_off'></use></svg>";
} else {
	document.documentElement.setAttribute('data-theme', 'light');
	window.localStorage.setItem('theme', 'light');
	document.getElementById("theme-toggle").innerHTML = "<svg class='icon on-icon nav-icons'><use xlink:href='/assets/svgs/sprite.svg#icon-light'></use></svg>";
}

function modeSwitcher() {
	let currentMode = document.documentElement.getAttribute('data-theme');
	if (currentMode === "dark") {
		document.documentElement.setAttribute('data-theme', 'light');
		window.localStorage.setItem('theme', 'light');
		document.getElementById("theme-toggle").innerHTML = "<svg class='icon on-icon nav-icons'><use xlink:href='/assets/svgs/sprite.svg#icon-light'></use></svg>";
	} else {
		document.documentElement.setAttribute('data-theme', 'dark');
		window.localStorage.setItem('theme', 'dark');
		document.getElementById("theme-toggle").innerHTML = "<svg class='icon off-icon nav-icons'><use xlink:href='/assets/svgs/sprite.svg#icon-light_off'></use></svg>";
	}
}
// End theme switcher

</script>