<header>
  <nav>
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
          <svg class="icon nav-icons">
            <use xlink:href="/assets/svgs/sprite.svg#{{ item.icon }}"></use>
          </svg> {{ item.name }}</a>
      {% endfor %}
      <button id="theme-toggle" onclick="modeSwitcher()"><svg class='icon on-icon nav-icons'><use xlink:href='/assets/svgs/sprite.svg#icon-light'></use></svg></button>

  </nav>
  <div id="header">
      <h1><a href="/">Mosquildo</a></h1>
  </div>
</header>
