---
layout: default
---

<div class="wrapper">
  <div class="main">
    {% include header_posts.html %}
    <h1>{{ page.title }}</h1>
    {% for category in page.categories %}
    {% capture category_name %}{{ category }}{% endcapture %}
    <a class="botao categorias {{ category_name}}" href="/{{ category_name }}">{{ category_name  | capitalize }}</a>
    {% endfor %}
    {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <span class="pseudobotao2">{{ tag_name }}</span>
    {% endfor %}
    <p class="post-date">
      <svg class="icon" viewBox="0 0 32 32">
          <path  d="M10 12h4v4h-4zM16 12h4v4h-4zM22 12h4v4h-4zM4 24h4v4h-4zM10 24h4v4h-4zM16 24h4v4h-4zM10 18h4v4h-4zM16 18h4v4h-4zM22 18h4v4h-4zM4 18h4v4h-4zM26 0v2h-4v-2h-14v2h-4v-2h-4v32h30v-32h-4zM28 30h-26v-22h26v22z"></path>
      </svg>  
    {{ page.date | date: "%-d" }} {% assign m = page.date | date: "%-m" %}
    {% case m %}
      {% when '1' %}janeiro
      {% when '2' %}fevereiro
      {% when '3' %}março
      {% when '4' %}abril
      {% when '5' %}maio
      {% when '6' %}junho
      {% when '7' %}julho
      {% when '8' %}agosto
      {% when '9' %}setembro
      {% when '10' %}outubro
      {% when '11' %}novembro
      {% when '12' %}dezembro
    {% endcase %}{{ page.date | date: "%Y"}} <br>
    <svg class="icon" viewBox="0 0 32 32">
      <path d="M14.016 5.984v12h8v-4h-4v-7.968zM0 16c0-8.832 7.168-16 16-16v0c8.832 0 16 7.168 16 16v0c0 8.832-7.168 16-16 16v0c-8.832 0-16-7.168-16-16v0zM4 16c0 6.624 5.376 12 12 12v0c6.624 0 12-5.376 12-12v0c0-6.624-5.376-12-12-12v0c-6.624 0-12 5.376-12 12v0z"></path></svg> 
    {% include read-time.html content=content %}</p>
  </div>
</div>

<div class="wrapper-post">
  <article>
  {{ content }}
  </article>
</div>

<div class="wrapper">
  <div class="main">
    <div class="ei">
      <h1>Comentários</h1>
      <p>Ei, diga alguma coisa! &#128516;</p>
    </div>

    <form action="https://formspree.io/xdoakwzl" method="POST">
      <label><input type="text" name="name" style="width:400px" placeholder="* Nome"></label><br>
      <label><input type="text" name="_replyto" style="width:400px" placeholder="* Email (não será exibido)"></label><br>
      <input type="hidden" name="_subject" value="Comentário do artigo: {{ page.title }}" />
      <label><input type="text" name="site" style="width:400px" placeholder="Site ou rede social (opcional)"></label><br>  
      <label><textarea name="message" style="width:400px; height: 200px;" placeholder="* Comentário"></textarea></label><br>
      <p id="aprovacao">* O comentário será publicado após aprovação</p>
      <button class="botao" type="submit">Enviar <svg class="icon icon-bubble" viewBox="0 0 32 32">
        <path d="M16 2c8.837 0 16 5.82 16 13s-7.163 13-16 13c-0.849 0-1.682-0.054-2.495-0.158-3.437 3.437-7.539 4.053-11.505 4.144v-0.841c2.142-1.049 4-2.961 4-5.145 0-0.305-0.024-0.604-0.068-0.897-3.619-2.383-5.932-6.024-5.932-10.103 0-7.18 7.163-13 16-13z"></path>
      </svg></button>
    </form>
  </div>
</div>