---
layout: default
---

{% include header_posts.html %}

<h1>{{ page.title }}</h1>

{% for category in page.categories %}
{% capture category_name %}{{ category }}{% endcapture %}
<a class="botao categorias {{ category_name}}" href="/{{ category_name }}">{{ category_name  | capitalize }}</a>
{% endfor %}



{% for tag in page.tags %}
{% capture tag_name %}{{ tag }}{% endcapture %}
<span class="pseudobotao2">{{ tag_name }}</span>
{% endfor %}

<span class="applause"><applause-button style="width: 58px; height: 58px;" color="var(--link-color)" multiclap="true"/></span>

<p class="post-date">
  <svg class="icon">
    <use xlink:href="/assets/svgs/sprite.svg#icon-calendar"></use>
  </svg>  
 {{ page.date | date: "%-d" }} {% assign m = page.date | date: "%-m" %}
{% case m %}
  {% when '1' %}janeiro
  {% when '2' %}fevereiro
  {% when '3' %}março
  {% when '4' %}abril
  {% when '5' %}maio
  {% when '6' %}junho
  {% when '7' %}julho
  {% when '8' %}agosto
  {% when '9' %}setembro
  {% when '10' %}outubro
  {% when '11' %}novembro
  {% when '12' %}dezembro
{% endcase %}{{ page.date | date: "%Y"}} <br>
<svg class="icon">
  <use xlink:href="/assets/svgs/sprite.svg#icon-clock"></use>
</svg> 

{% include read-time.html content=content %}</p>

{{ content }}

<!-- 
<div class="comments">
<h2>Comentários</h2>
<h3>Ei, diga alguma coisa! <br>
Envie um comentário por email!</h3> 
<p>Mande um email para <a href="mailto:filipemosca@disroot.org?subject=Comentário do artigo: {{ page.title }}">filipemosca@disroot.org</a> com o assunto: <em style="color: var(--comments-subject);">"Comentário do artigo: {{ page.title }}"</em>. Em breve o comentário aparecerá aqui! &#128516; Caso não queira que a mensagem seja exibida aqui, basta mencionar no email.</p>
</div>
-->

<div class="ei">
  <h1>Comentários</h1>
  <p>Ei, diga alguma coisa! &#128516;</p>
</div>


<form action="https://formspree.io/xdoakwzl" method="POST">
  <label><input type="text" name="name" style="width:400px" placeholder="* Nome"></label><br>
  <label><input type="text" name="_replyto" style="width:400px" placeholder="* Email (não será exibido)"></label><br>
  <input type="hidden" name="_subject" value="Comentário do artigo: {{ page.title }}" />
  <label><input type="text" name="site" style="width:400px" placeholder="Site ou rede social (opcional)"></label><br>  
  <label><textarea name="message" style="width:400px; height: 200px;" placeholder="* Comentário"></textarea></label><br>
  <p id="aprovacao">* O comentário será publicado após aprovação</p>
  <button class="botao" type="submit">Enviar <svg class="icon icon-bubble"><use xlink:href="/assets/svgs/sprite.svg#icon-bubble"></use></svg></button>
</form>

